*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 20px;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

h1 {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 2px white;
  color: black;
  text-align: center;
}

label {
  font-weight: bold;
}
